@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
   

}
main{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
}